EXPO_PUBLIC_API_BASE_URL=https://jobnova-backend.onrender.com
EXPO_PUBLIC_USE_MOCK_API=false
EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_APP_NAME=JobNova
EXPO_PUBLIC_APP_VERSION=18.2.1
EXPO_PUBLIC_PROJECT_SLUG=jobnova
EXPO_PUBLIC_BUNDLE_ID=com.shadi.jobnova
EXPO_PUBLIC_IOS_BUILD_NUMBER=1
EXPO_PUBLIC_EAS_PROJECT_ID=bd245184-37d2-4aa4-967d-f5d0ef47c32e
